* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
    color: black;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-right: 4px;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 8rem;
    gap: 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-right,
.cart {
    display: flex;
    gap: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    align-items: center;
    border: 4px;
    transition: background-color 0.3s ease;
}


.search input {
    margin-left: 130px;
    width: 80%;
    background: transparent;
    padding: 0.25rem;
    border: 2px solid rgb(133, 130, 130);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.nav-right,
.cart {
    display: flex;
    gap: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    align-items: center;
    border: 4px;
    transition: background-color 0.3s ease;
}

.cart input {
    margin-left: 70px;
    width: 30%;
    background: transparent;
    padding: 0.25rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.cart img {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 11px;
    cursor: pointer;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: blue;
}

.logo h1 span {
    color: orangered;
}

.container-shop {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 30px;
    margin-top: 5rem;
    height: 100vh;
}

.left {
    width: 65%;
}

.left h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background: #fafafa;
    color: #777;
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #eee;
}

.qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty button {
    width: 25px;
    height: 25px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.remove {
    color: red;
    cursor: pointer;
}

.continue {
    margin-top: 180px;
    color: black;
    cursor: pointer;
}

.continue a{
    text-decoration: none;
}

.right {
    width: 35%;
    margin-top: 5rem;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-color: red;
    border: 1px solid black;
}

.coupon {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.coupon input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.coupon button {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.summary {
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}

.total {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.pay-btn {
    width: 100%;
    background: #f97316;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.payments {
    margin-top: 15px;
    text-align: center;
}

.payments img {
    height: 25px;
    opacity: 0.8;
}